# -----------------------------------------
# ENVOY
# -----------------------------------------

ENVOY_CONTAINER_NAME=${ENVOY_ENVOY_CONTAINER_NAME}
ENVOY_IMAGE_NAME=${ENVOY_ENVOY_IMAGE_NAME}
ENVOY_EXTERNAL_HTTP_PORT=${ENVOY_ENVOY_EXTERNAL_HTTP_PORT}
ENVOY_INTERNAL_HTTP_PORT=${ENVOY_ENVOY_INTERNAL_HTTP_PORT}
ENVOY_ADMIN_PORT=${ENVOY_ENVOY_ADMIN_PORT}
ORDER_SERVICE_HOST=${ENVOY_ORDER_SERVICE_HOST}
ORDER_SERVICE_PORT=${ENVOY_ORDER_SERVICE_PORT}