# ----------------------------
# Настройки OTLP
# ----------------------------

OTLP_HOST=${GENERAL_OTLP_HOST}
OTLP_PORT=${GENERAL_OTLP_PORT}

# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST=${PAYMENT_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

# Имя сервиса
LOGGER_SERVICE_NAME=${PAYMENT_LOGGER_SERVICE_NAME}

# Окружение
LOGGER_SERVICE_ENVIRONMENT=${PAYMENT_LOGGER_SERVICE_ENVIRONMENT}

# Включить Opentelemetry
LOGGER_ENABLE_OTLP=${PAYMENT_LOGGER_ENABLE_OTLP}